.game-container {
    margin: 30px;
    /* border: solid 1px grey; */
    padding: 10px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.15);
    background: #fff;
    display: flex;
    flex-direction: column;
}

.fa-window-close:hover {
    cursor: pointer;
    color: #f4426b;
}

.close-div {
    width: fit-content;
    height: fit-content;
}


.game-data-wrapper {
    display: flex;
    justify-content: space-around;
    
}

.left-display-wrapper {
    /* background: #252331; */
    background: #202121;
    flex: 1 2 1em;
    padding: 1%;
    margin: 1%;
    color: aliceblue;
    border-radius: 3px; 
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 13px rgba(0, 0, 0, .5);
    /* display: table; */
}

div.left-display-wrapper img {
    padding: 2%;
    max-width: 100%;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}

#general-info-div {
    /* padding: 5px; */
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
}

.circular-div {
    padding: 10px;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
}

.rating-ct-wrapper {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

.rating-ct-wrapper> h5 {
    margin: 0;
    color: #ed3b4d;
    font-size: 1em;
    font-weight: 300;
}

#total-rating-ct {
    color: #4ee881 !important;
}

#dev-div {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    padding: 10px;
    text-align: center;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
}

#developers-wrapper {
    font-size: .7em;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-dev {
    margin: 0 5px 0 5px;
    font-size: 1.7em;
}

#developers-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#released-date-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 300;
    padding: 10px;
    text-align: center;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
}

#date-div-game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.externalLinks-wrapper {
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
    width: 100%;
}


.externalLinks-wrapper > a:link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    text-decoration: none;
    color: aliceblue;
    box-shadow: 0 12px 13px rgba(0, 0, 0, 0.5);
}

/* a:link, a:visited {
    color: aliceblue;
} */


.right-display-wrapper {
    border-radius: 3px;
    /* background: #252331; */
    background: #202121;
    flex: 2 1 1em;
    padding: 1%;
    margin: 1%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 12px 13px rgba(0, 0, 0, 0.5);
    /* display: table; */
}

.catergory-name-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#body-name-tag {
    font-size: 1.4em;
    text-align: center;
    font-weight: 600;
    padding: 10px 10px 10px 5px;
    color: #ed3b4d;
}


.catergory-tag {
    white-space: nowrap;
    font-size: .7em;
    text-align: center;
    font-weight: 300;
    padding: 4px 8px 4px 8px;
    border-radius: 15px 5px 15px 5px;
}

.Main {
    border: solid 2px #4ee881;
    color: #4ee881;
}

.DLC {
    border: solid 2px #298fd8;
    color: #298fd8;
}

.Expansion {
    border: solid 2px #453cf2;
    color: #453cf2;
}

.Bundle {
    border: solid 2px #e0d131;
    color: #e0d131;
}

.Standalone-Expansion {
    border: solid 2px #e03131;
    color: #e03131;
}

.summary-tag {
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
}

#collection-tag {
    padding: 0 3% 0 3%;
}

.summary-tag > h2 {
    padding: 0;
    margin: 1%;
    font-size: 1.1em;
    color: #ed3b4d;
}

.summary-tag > p {
    line-height: 1.2em;
    color: aliceblue;
    font-weight: 300;
    margin: 7px;
}

.keywords-container {
    padding: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.keywords-container > div > h2 {
    padding: 0;
    margin: 1%;
    font-size: 1.1em;
    color: #ed3b4d;
}

.keywords-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: .8em;
    padding: 0 1% 0 1%;
}

#platforms-tag, #genres-tag, #themes-tag {
    border: solid 1px white;
    margin: 3px 3px 3px 3px;
    padding: 0 5px 0 5px;
    white-space: nowrap;
    
}

#dlcs-btn, #bundles-btn, #expansions-btn {
    display: flex;
    /* white-space: nowrap; */
    flex-wrap: nowrap;
    border: solid 1px aliceblue;
    padding: 5px;
    background: #ed3b4d;
}

#dlcs-btn:hover, #bundles-btn:hover, #expansions-btn:hover {
    border-color: #ed3b4d;
    background: #202121;
    color: #ed3b4d;
    cursor: pointer;
}

.links-wrapper {
    margin: 0 2% 0 2%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    white-space: nowrap;
    flex-wrap: nowrap;
}

#view-review-link, #create-review-link {
    font-size: .7em;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    /* border: solid 1px #4ee881;
    border-radius: 30px; */
    color: #4ee881;
}

#view-review-link:hover, #create-review-link:hover {
    color: #8b0e3e;
}

.extra-content-container {
    display: flex;
    flex-direction: column;
    padding: 3%;
    width: 100%;
}

.content-names {
    display: flex;
    justify-content: flex-start;
}

div.xtra {
    cursor: pointer;
    border-color: aliceblue;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    margin: 0 3px 0 3px;
    padding: 0 3px 0 3px;
}


.dlc-sel, .expansion-sel, .bundle-sel{
    color: #ed3b4d;
    border-color: #ed3b4d !important;
}

.extra-content-wrapper {
    font-size: .8em;
    height: 100px;
    overflow: scroll;
    margin: 0 3px 0 3px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: aliceblue;
    border-style: solid;
    border-width: 1px;
    border-color: #ed3b4d
}

.screenshot-carousel {
    padding: 1%;
    margin: 1%;
    border-radius: 3px;
    box-shadow: 0 12px 13px rgba(0, 0, 0, 0.5);
}

#screenshot-title {
    color: aliceblue;
    margin: 5px;
}

/* Sample */

#data-points {
    /* width: 75%; */
    height: 100%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 3 1 1em;
}

#links-traversal {
    /* width: 25%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 3 1em;
}

#title-tag {
    display: inline-flex;
    font-weight: bold;
    color: teal;
}

#game-name:hover {
    color: #f4426b;
    cursor: grab;
    text-decoration-line: underline;
}

#nsfw-tag {
    margin: 0 5px 0 5px;
    padding: 0 3px 0 3px;
    align-items: center;
    font-weight: 500;
    border-radius: 3px;
    border: solid 1px #f4426b;
    color: #f4426b;
}

#nsfw-tag:hover {
    background: #f4426b;
    color: aliceblue;
}

#genre-tags, #platform-tags, #theme-tags, #mode-tags {
    display: flex;
    flex-direction: row;
    /* width: 550px; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    font-size: .8em;
    flex-wrap: wrap;
}

#tag {
    border-radius: 30px;
    border: solid 1px #363636;
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px;
}

#game-released-date {
    font-weight: 200;
    color: #f4426b;
}