html {
  max-width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif !important;
  /* background-color: #323A45;  */
  /* background-color: #202121; */
  background-color: #f4f7f6;
  color: #202121;
  max-width: 100%;
  height: 100%;
}

input {
  max-width: 500px;
}

.gray {
  color: #828282;
}

.pad {
  padding: 20px;
}

.black {
  background-color: #202121;
}

.background-gray {
  background-color: rgb(246,246,239);
}

.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}

.button {
  font-family: monospace;
  font-size: 10pt;
  color: black;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0px;
}