.reviewContainer {
    /* background-color: #191919; */
    /* background-color: #252331; */
    /* color: black; */
    width: 100%;
    height: 100%;
    margin: 0px;
}

.reviewLoaderWrapper {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.reviewByID-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

#reviewByID-title {
    padding: 10px;
    font-size: 1.5em;
}

#reviewByID-gameTitle {
    padding: 10px;
}

#reviewByID-content {
    padding: 20px;
}

.reviewByID-user {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#review-by-username {
    display: flex;
    flex-direction: row;
}

#reviewer-score {
    display: flex;
    flex-direction: row;
}
